/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Toolbar button */

#TabsToolbar #appmenu-toolbar-button:not(:first-child),
toolbar:not(#TabsToolbar) #appmenu-toolbar-button {
  list-style-image: url(chrome://branding/content/icon16.png);
}

#TabsToolbar #appmenu-toolbar-button:not(:first-child) > .toolbarbutton-icon,
toolbar:not(#TabsToolbar) #appmenu-toolbar-button > .toolbarbutton-icon {
  display: block;
  -moz-margin-end: 0;
}

#TabsToolbar #appmenu-toolbar-button:not(:first-child) > .toolbarbutton-text,
toolbar:not(#TabsToolbar) #appmenu-toolbar-button > .toolbarbutton-text,
#TabsToolbar #appmenu-toolbar-button:not(:first-child) > .toolbarbutton-menu-dropmarker,
toolbar:not(#TabsToolbar) #appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* */
#wrapper-appmenu-toolbar-button,
.appmenu-edit-button[disabled="true"] {
  opacity: 1 !important;
}
