/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Toolbar button */

#appmenu-toolbar-button.toolbarbutton-1 {
  list-style-image: url(chrome://branding/content/icon16.png);
}

#appmenu-toolbar-button.toolbarbutton-1 > .toolbarbutton-icon {
  display: none;
}

#appmenu-toolbar-button.toolbarbutton-1 > .toolbarbutton-icon {
  display: -moz-box;
  -moz-margin-end: 0;
}

#appmenu-toolbar-button.toolbarbutton-1 > .toolbarbutton-text,
#appmenu-toolbar-button.toolbarbutton-1 > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* */
#wrapper-appmenu-toolbar-button,
.appmenu-edit-button[disabled="true"] {
  opacity: 1 !important;
}
