/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Toolbar Button */
#fx-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Default appmenu button */
#appmenu-toolbar-button {
  display: none;
}

/* FxMenu */
#fxmenu_offlineModeRecovery:not([checked="true"]) {
  display: none;
}
